.slider-section{
    width: 100vw;
    height: calc(100vh - 8vh);
    display: flex;
    flex-direction: row;
    animation: sliderScroll 280s linear infinite;
    -webkit-animation: sliderScroll 280s linear infinite;
}


@keyframes sliderScroll {
  0% {
    left: 0%;
  }
  50% {
    left: -500vw;
  }
  100% {
    left: 0%;
  }
}

.slider-section div {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    object-fit: cover;
}

.slider-section>div:hover img {
  height: 100vh;
  filter: scale(1.2);
  display: flex;
  align-items: center;
  object-fit: cover;
  -webkit-filter: scale(1.2);
}


.slider-section img{
    width: 10vw;
    height: 100vh;
    object-fit: cover;
}
.slider-section p{
  position: absolute;
  font-size: 3vh;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

