.slider-section {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 8vh);
  display: flex;
  flex-direction: row;
  animation: sliderScroll 360s linear infinite;
  -webkit-animation: sliderScroll 360s linear infinite;
}

@keyframes sliderScroll {
  0% {
    left: 0%;
  }
  50% {
    left: -1290vw;
  }
  100% {
    left: 0%;
  }
}

.modal-slider {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background-color: #ffffff4c;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
}

.modal-slider.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.modal-slider.show i {
  position: absolute;
  background-color: transparent;
  color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-slider.show img {
  position: absolute;
  background-color: transparent;
  color: transparent;
  width: 70vh;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  animation: scale 0.6s linear;
  -webkit-animation: scale 0.6s linear;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@keyframes scale {
  0% {
    opacity: 0.9;
    margin-top: 10%;
    scale: 60%;
  }
  100% {
    opacity: 1;
    margin-top: 0%;
    scale: 100%;
  }
}

.slider-section div {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.slider-section div a {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.slider-section img {
  width: 10vw;
  height: 100vh;
  object-fit: cover;
}
.slider-section p {
  position: absolute;
  font-size: 3vh;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

@media (max-width: 1000px) {
  .modal-slider.show img {
    width: 80vw;
    height: 80vw;
  }
}

@media (max-width: 770px) {
  .slider-section {
    position: fixed;
    top: 0;
  }
}
