.filters{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1vw;
}
.filters select{
    max-height: 3vh;
    max-width: 22vw;
    text-align: center;
    text-transform: capitalize;
    background: var(--main-bg-color);
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}


