section{
    position: relative;
    width: 100vw;
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section>div {
    position: relative;
    width: 60vw;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: var(--secundary-bg-color);
    text-transform: capitalize;
}
h2 {
    color: var(--main-bg-color);
}
.filter{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}
.filter-type{
    max-width: 15vw;
}
.filter-genre{
    max-width: 15vw;
}
.all {
    gap: 5vh;
    margin-bottom: 4vw;
}

.all>div {
    display: flex;
    flex-direction: column;
}