.favs-section {
    gap: 4vh;
    margin-bottom: 4vh;
}

.favs-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.favs-header>h1{
    font-size: 1.8vh;
    margin-bottom: -2.5vh;
    color: var(--white-color);
}

