.filter-section {
  max-width: 65vw;
  height: inherit;
  padding-top: 0;
  display: flex;
  flex-direction: row;
}

.reverse-filter {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.reverse-filter img {
  max-width: 2.5vh;
  cursor: pointer;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.pagination {
  width: 10vw;
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2vh;
}

.pagination img {
  width: 2.5vh;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.prev-page {
  transform: rotate(180deg);
}

h1 {
  color: var(--main-bg-color);
  text-transform: capitalize;
}
h2 {
  color: var(--main-bg-color);
}
.albums {
  padding-top: 1vh;
  gap: 2vh;
}

.albums > div {
  display: flex;
  flex-direction: column;
}

.albums > figure {
  width: 65vw;
  animation: scaleAlbums 0.5s linear;
  -webkit-animation: scaleAlbums 0.5s linear;
}

@keyframes scaleAlbums {
  0% {
    scale: 98%;
  }
  100% {
    scale: 100%;
  }
}

@media (max-width: 770px) {
  .albums-section {
    padding: 0;
  }
}
