.filter-section{
    max-width: 60vw;
    height: inherit;
    padding-top: 0;
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-bottom: 2vh;
}

.reverse-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.reverse-filter img{
    max-width: 2.5vh;
    filter: invert(1);
    -webkit-filter: invert(1);
}

h1 {
    color: var(--secondary-bg-color);
    text-transform: capitalize;
}
h2 {
    color: var(--main-bg-color);
}
.all {
    gap: 5vh;
    margin-bottom: 4vw;
}

.all>div {
    display: flex;
    flex-direction: column;
}
@media (max-width: 770px) {
    section{
        padding: 0;
    }
}