/* .months {
    display: flex;
    gap: 5vw;
    margin-bottom: 4vw;
}

.months>div {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}
.months>div>h1{
    font-size: 3.5vh;
    margin-bottom: -4vw;
    color: var(--tertiary-color);
} */